<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GestionaleFitstic2020</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Studenti">
                <span class="oi oi-plus" aria-hidden="true"></span> Studenti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Organizzatori">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Organizzatori
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Docenti">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Docenti
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tutors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tutors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Corsi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Corsi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Iscrizioni">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Iscrizioni
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Esami">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Esami
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Moduli">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moduli
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
